.container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "box1 box1 box1 box2"
    "box3 box3 box4 box4"
    "box3 box3 box5 box5"
    ;
    color: white;
    font-weight: 800;
    font-family: 'arial';
    font-size: 0.9em;
    text-align: center;
    transition: 1s ease-in-out;
}
.box1 {
    background: rgb(71, 22, 71);
    padding: 3em;
    grid-area: box1;
}
.box2 {
    background: rgb(71, 22, 71);
    padding: 3em;
    grid-area: box2;
}
.box3 {
    background: rgb(71, 22, 71);
    padding: 3em;
    grid-area: box3;
}
.box4 {
    background: rgb(71, 22, 71);
    padding: 3em;
    grid-area: box4;
}
.box5 {
    background: rgb(71, 22, 71);
    padding: 5rem;
    grid-area: box5;
}

@media only screen and (max-width:750px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
    
        ;
    }
}